<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a routerLink="/" class="navbar-brand">Course Enrollement</a>
        <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#nav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collaps navbar-collapse" id="nav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a routerLink="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/login" class="nav-link">Login</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/signup" class="nav-link">Signup</a>
                </li>
                <li class="nav-item active">
                    <a routerLink="/profile" class="nav-link">Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>