* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fdfdfd;
}



.login-box {
    margin: 20px;
    padding: 30px;
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.login-btn {
    text-align: center;
    padding: 7px;
    border: 1px solid black;
    margin-top: 20px;
    width: 100%;
    color: black;
    outline: none;
    background-color: white;
    border-radius: 5px;
    font-weight: 600;
    transition: 0.5s all;
}

.login-btn:hover {
    background-color: black;
    color: white;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 150px;
}

#link {
    margin-top: 12px;
    margin-bottom: -10px;
}

#link a {
    text-decoration: none;
    color: rgb(46, 46, 181);
}

#link a:hover{
    color: rgb(41, 41, 210);
    text-decoration: underline;
}
